<!-- Start of Footer -->
<footer class="footer">
    <div class="footer-top pt-120">
        <div class="container">
            <div class="row" style="color: #fff">
                <div class="col-lg-4 col-sm-6">
                    <!-- footer widget -->
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="/">
                                <p style="color: #fff; font-size: 20px; font-weight: 600; margin-top: 8px;">
                                    Helping Hands</p>
                            </a>
                        </div>
                        <p class="unter-text" id="footer-text">Downloade jetzt unsere App und erlebe den neuen Weg des Helfens. Mit jeder erleigten Aufgabe spenden wir einen Teil an Wohltätigezwecke</p>
                        <!-- footer social area -->
                        <div class="footer-social-area">
                            <ul class="social-icons social-icons-light nav">
                                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                <!--<li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></li>-->
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- End of footer social area -->
                    </div>
                    <!--End of footer widget -->
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <!-- widget header -->
                        <div class="widget-header">
                            <h5>Kontakt</h5>
                        </div>
                        <!-- widget header -->
                        <div class="widget-body">
                            <ul class="address-list">
                                <li class="unter-text">
                                    <a href="mailto:info@gingermintsoft.com">
                                        <span><i class="fa  fa-envelope"></i></span>
                                        info@gingermintsoft.com
                                    </a>
                                </li>
                                <li class="unter-text">
                                    <a href="mailto:charity@gingermintsoft.com">
                                        <span><i class="fa  fa-envelope"></i></span>
                                        charity@gingermintsoft.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="widget-header">
                            <h5>Rechtliches</h5>
                        </div>
                        <!-- widget header -->
                        <div class="widget-body">
                            <ul class="rechtliches-liste">
                                <a href="/impressum">
                                    <li class="unter-text">
                                        Impressum
                                    </li>
                                </a>
                                <a href="datenschutz">
                                    <li class="unter-text">
                                        Datenschutz
                                    </li>
                                </a>
                                <a href="/agb">
                                    <li class="unter-text">
                                        AGB
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <a href="/">
                            <div class="footer-logo-div">
                                <img src="assets/img/meinStuff/Logo_klein_pixelperfect_zugeschnitten.png" class="footer-logo" alt="Logo">
                            </div>
                        </a>
                    </div>
                </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-text text-center">
            <p>© copyright 2020 by GingerMintSoft Inc.</p>
        </div>
    </div>

</footer>
<!-- End of the Footer -->



<!-- back to top -->
<div class="back-to-top">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- back to top -->


<!-- JS Files -->
<!-- ==== JQuery 3.3.1 js file==== -->
<script src="assets/js/jquery-3.3.1.min.js"></script>

<!-- ==== Bootstrap js file==== -->
<script src="assets/js/bootstrap.bundle.min.js"></script>

<!-- ==== JQuery Waypoint js file==== -->
<script src="assets/plugins/waypoints/jquery.waypoints.min.js"></script>

<!-- ==== Parsley js file==== -->
<script src="assets/plugins/parsley/parsley.min.js"></script>

<!-- ==== parallax js==== -->
<script src="assets/plugins/parallax/parallax.js"></script>

<!-- ==== Owl Carousel js file==== -->
<script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>

<!-- ==== Menu  js file==== -->
<script src="assets/js/menu.min.js"></script>

<!-- ===video popup=== -->
<script src="assets/plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

<!-- ====Counter js file=== -->
<script src="assets/plugins/waypoints/jquery.counterup.min.js"></script>

<!-- ==== Script js file==== -->
<script src="assets/js/scripts.js"></script>

<!-- ==== Custom js file==== -->
<script src="assets/js/custom.js"></script>

</body>

</html>