<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>Helping Hands</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <!-- CSS Files -->
    <!--==== Google Fonts ====-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Owl Carusel css file -->
    <link rel="stylesheet" href="assets/plugins/owl-carousel/owl.carousel.min.css">

    <!-- ====video poppu css==== -->
    <link rel="stylesheet" href="assets/plugins/Magnific-Popup/magnific-popup.css">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="assets/css/style.css">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="assets/css/custom.css">

    <!--==== Infos css file ====-->
    <link rel="stylesheet" href="assets/css/infos.css">
</head>

<body>
    <!-- Preloader 
    <div class="preLoader">
        <div class="preload-inner">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </div>
    End Of Preloader -->

    <!-- Main header -->
    <header class="header">
        <!-- Start Header Navbar-->
        <div class="main-header">
            <div class="main-menu-wrap">
                <div class="container">
                    <div class="row menu-row">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 logo-position">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/">
                                    <img src="assets/img/meinStuff/Logo_klein_pixelperfect.png" data-rjs="2"
                                        alt="Helping-Hands-Logo" class="logo-bild">
                                </a>
                            </div>
                            <!-- End of Logo -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-6 menu-button">
                            <div class="menu--inner-area clearfix">
                                <div class="menu-wraper">
                                    <nav>
                                        <!-- Header-menu -->
                                        <div class="header-menu dosis">
                                            <ul>
                                                <li class="active"><a href="/">Home</a>
                                                    <!--<ul>
                                                        <li class="active"><a href="index.html">Home 1</a></li>
                                                        <li><a href="index2.html">Home 2</a></li>
                                                    </ul>-->
                                                </li>
                                                <li><a href="/sucher">Sucher</a></li>
                                                <li><a href="/helfer">Helfer</a></li>
                                                <li style="padding-right: 30px;"><a href="/charity">Charity</a></li>
                                                <li class="login-menu">
                                                    <a href="/login" style="padding-top: 3px;">Login</a></li>
                                                <li><a href="/registrieren">Registrieren</a></li>
                                            </ul>
                                        </div>
                                        <!-- End of Header-menu -->
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-3 col-md-4 col-sm-5 d-md-block d-none">
                            <div class="urgent-call text-right">
                                <a href="#download-now" class="btn">Download now</a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Navbar-->
    </header>
    <!-- End of Main header -->