<%- include('partials/header'); -%>

<!-- Charity Section -->
<section>
    <div class="container" id="charity-container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 col-md-12 col-sm-12">

                <div class="section-title text-left">
                    <!--<h2 class="white" id="charity-h2">Charity</h2>
                        <p class="white" id="charity-text">You can help! With every task that is done we donate a
                            part
                            of the money to a charity.<br>You can choose which charity we spend next.</p>-->
                    <div class="row" id="charity-row">
                        <div class="col-lg-8">
                            <h3>Aktuelles Projekt</h3>
                            <div class="row" id="current-project-row">
                                <div class="col-lg-6"><a href="#"><img src="assets/img/meinStuff/muenchener-tafel-e.v.jpg"
                                            alt="Münchener Tafel"></a></div>
                                <div class="col-lg-6">
                                    <p>Die Münchener Tafel e.V. besteht aus 650 ehrenamtlichen Mitgliedern die zusammen
                                        jede Woche an 27 Ausgabestellen und in 107 sozialen Einrichtungen im Münchener
                                        Stadtgebiet Lebensmittel an Menschen in Armut verteilen.</p>

                                    <a href="https://muenchner-tafel.de/" target="blank">https://muenchner-tafel.de/</a>
                                    </p>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-4">
                            <h3>Wähle das nächste Projekt</h3>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" checked>Power-Child e.V.
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio">Apotheker ohne Grenzen
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio">Akademie für Kinderschutz
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <input type="text" class="form-control form-control" placeholder="E-mail"
                                id="charity-Input">
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-primary" id="charity-Submit">Senden</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ENDE cahrity section-->


<%- include('partials/footer'); -%>