<%- include('partials/header'); -%>

<!-- home banner area -->
<div class="banner-area-inner helfer-header">
    <div class="banner-inner-area banner-area2">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6" style="height: 100vh; margin: 0 auto;
                    position: relative;">
                <!-- evtl background-color: rgba(0,0,0,0.5);-->

                <div class="banner-text-inner">

                    <h1 class="helfer-heading">Helfe mit <br> Helping Hands
                        <!--Get a helping hand<br>Give a helping hand</h1>-->
                    </h1>
                    <div class="urgent-call text-center" style="position: absolute; top: 50%; left: 40%">
                        <a href="/registrieren.ejs" class="btn">Registrieren</a>
                    </div>
                    <!--class="animated bounce infinite"-->
                </div>
            </div>
        </div>
        <div id='wwd'></div>
    </div>

</div>
<!-- End of home banner area -->


<!-- Start Content Area -->
<section class="content">
    <div class="container">
        <p class="helfer-cta">
            Die Anmeldung ist zu 100% kostenlos. Es gibt keine Zeitvorgaben oder versteckte Gebühren. Bearbeite so viele Aufgaben wie du willst.
           <!--  Es ist kostenlos, sich anzumelden. Es gibt keine
            Zeitvorgaben oder Gebühren, also nehm  100% von dem, was Sie verdienen, mit nach Hause, wenn Sie
            eine Aufgabe abschließen. -->
        </p>
        <div class="row helfer-row">
            <div class="col-lg-6" style="text-align: center;"><img src="assets/img/meinStuff/Iphone Mockup1_.png"
                    class="helfer-bild" alt=""></div>
            <div class="col-lg-6 helfer-text helfer-text-rechts">
                <h2>Registriere dich kostenlos</h2>
                <p>Registriere dich jetzt und starte noch Heute mit Helping Hands zusätzliches Geld zu verdienen.</p>
                <div class="urgent-call">
                    <a href="/registrieren.ejs" class="btn"
                        style="background-color: #2ADA8F; border: 0; color: #fff;">Registrieren</a>
                </div>
            </div>
        </div>
        <div class="row helfer-row">
            <div class="col-lg-6 helfer-text helfer-text-links">
                <h2>Bearbeite was dir gefällt</h2>
                <p>Du kannst dir aussuchen welche und wie viele Aufgaben du erledigen möchtest.</p>
            </div>
            <div class="col-lg-6" style="text-align: center;"><img src="assets/img/meinStuff/Iphone Mockup2.2_.png"
                    class="helfer-bild" alt=""></div>
        </div>
        <div class="row helfer-row">
            <div class="col-lg-6" style="text-align: center;"><img src="assets/img/meinStuff/Iphone Mockup3.2_.png"
                    class="helfer-bild" alt=""></div>
            <div class="col-lg-6 helfer-text helfer-text-rechts">
                <h2>Sammel gute Bewertungen</h2>
                <p>Sammel gute Bewertungen und steigere damit deine Chanchen.</p>
                <div class="urgent-call">
                    <a href="/registrieren.ejs" class="btn"
                        style="background-color: #2ADA8F; border: 0; color: #fff;">Registrieren</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Content Area -->

<!-- Start Bilder Section-->
<section class="image-section">
    <div class="bilder-section">
        <img src="assets/img/meinStuff/helfer1_.jpg" class="helfer-bilder" id="helfer-bild1" alt="">>
        <img src="assets/img/meinStuff/helfer2_.jpg" class="helfer-bilder" id="helfer-bild2" alt="">
        <img src="assets/img/meinStuff/helfer3_.jpg" class="helfer-bilder" id="helfer-bild3" alt="">
        <img src="assets/img/meinStuff/helfer4_.jpg" class="helfer-bilder" id="helfer-bild4" alt="">
        <img src="assets/img/meinStuff/helfer5_.jpg" class="helfer-bilder" id="helfer-bild5" alt="">
        <img src="assets/img/meinStuff/helfer8_.jpg" class="helfer-bilder" id="helfer-bild6" alt="">
        <img src="assets/img/meinStuff/helfer7_.jpg" class="helfer-bilder" id="helfer-bild7" alt="">
        <img src="assets/img/meinStuff/helfer9.jpg" class="helfer-bilder" id="helfer-bild8" alt="">
    </div>
</section>
<!-- Ende Bilder Section-->

<!-- Start Fragen Area -->
<section class="accordion-section">
    <div class="container helfer-faq">
        <h1 class="faq-heading">Häufige Fragen</h1>
        <ul id="accordion" class="accordion">
            <li>
                <div class="link"><i class="fa fa-globe"></i>Wie kann ich mich registrieren?<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li><a href="/registrieren">Einfach in das Textfeld klicken und das Anmeldeformular ausfüllen.</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Wie nehme ich eine Aufgabe an?<i
                        class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Gehe einfach auf die Aufgabe die dich interessiert und klicke den "Annehmen" Button. Deine Anfrage wird an die betreffende Person gesendet und bei Interesse von dieser angenommen.</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Wann habe ich eine Zusage?<i
                        class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Wenn der Sucher deine Anfrage angenommen hat bekommst du eine Nachricht.</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Wo finde ich meine Nachrichten?<i
                        class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Gehe dazu einfach in die App und klicke auf das Icon mit der Glocke. Hier siehst du alle aktuellen Benachrichtigungen.</a></li>
                  
                </ul>
            </li>
        </ul>
    </div>
</section>

<%- include('partials/footer'); -%>