<%- include('partials/header'); -%>

    <!-- home banner area -->
    <div class="banner-area-inner index-header">
        <div class="banner-inner-area banner-area1">
            <div class="row align-items-center">
                <div class="col-lg-4 col-xl-4" style="height: 100vh; margin: 0 auto;
                    position: relative;">
                    <!-- evtl background-color: rgba(0,0,0,0.5);-->

                    <div class="banner-text-inner">

                        <h1 style="padding: 10px; border-radius: 5px; position: absolute; top: 25%">The new way of
                            helping
                            <!--Get a helping hand<br>Give a helping hand</h1>-->
                        </h1>
                        <div class="urgent-call text-center" style="position: absolute; top: 50%; left: 35%">
                            <a href="#download-now" class="btn">Download now</a>
                        </div>
                        <!--class="animated bounce infinite"-->
                    </div>
                </div>
            </div>
            <div id='wwd'></div>
        </div>

    </div>
    <!-- End of home banner area -->

    <!-- feature area -->
    <section class="pb-110" id="pb-110">

        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                <!-- section title -->
                <!--<div class="section-title text-center" id="text-boxen-section">
                    <h2>Was bietet Helping Hands</h2>
                    <p>Our mission is to build the largest social marketplace where anyone, anywhere, can give or
                        take on virtually any task.</p>
                </div>-->
                <!-- End of section title -->
            </div>
        </div>

        <div class="row text-boxen-row">
            <div class="col-lg-3 col-md-3 col-sm-12 boxen" id="text-box1">
                <!--BEI RESPONSIVE DESIGN BEACHTEN: col-lg-3 flex: 22%, dh muss flex Eigenschaft deaktivieren-->
                <!-- <div class=".img-background"><img src="assets/img/meinStuff/post-a-task.png" class="mitte" alt="post-a-task"></div>-->
                <h1 id="cta-headings1">Poste deine Aufgaben</h1>
                <hr>
                <p class="p-styles">
                    Poste jetzt deine Aufgaben für die du keine Zeit hast und lasse dir von Leuten aus deiner Umgebung helfen.
                    <!-- Du hast keinen Bock, keine Zeit oder einfach keine Ahnung? Kein Problem poste was es zutun gibt
                    einfach mit nur 3 Klicks bei Helping Hands und in kurzer Zeit wird sich jemand finden der dir hilft. -->
                </p>
                <div class="mehr-dazu-btn"><a href="/sucher" class="mehr-dazu">Mehr
                    dazu</a></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 boxen" id="text-box2">
                <!--<div><img src="assets/img/meinStuff/earn-extra-cash.png" class="mitte" alt="earn-extra-cash"></div>-->
                <h1 id="cta-headings2">Verdiene extra Geld</h1>
                <hr>
                <p class="p-styles">
                    Sei flexibel! Helfe wann und wo du willst und verdiene dir was dazu.
                    <!-- Du hast keinen Bock auf einen 9 to 5 oder willst einfach unabhängig dir was dazu verdienen? Kein
                    Problem downloade die Helping Hands App und suche dir eine Aufgabe aus deiner Nähe, bearbeite Sie,
                    verdiene Geld und dann geh eine Runde chillen in die Bar oder an den See. -->
                </p>
                <div class="mehr-dazu-btn" id="mehr-dazu-btn2"><a href="/helfer" class="mehr-dazu">Mehr dazu</a></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 boxen" id="text-box3">
                <!-- <div><img src="assets/img/meinStuff/you-can-help.png" class="mitte" alt="you-can-help" id="text-box-4-img"></div>-->
                <h1 id="cta-headings3">Mache etwas Gutes</h1>
                <hr>
                <p class="p-styles">
                    Bei jeder Aufgabe die vermittelt wird spenden wir einen Teil des Geldes an Wohltätigezwecke.
                    <!-- Bei jeder Aufgabe die vermittelt wird spenden wir einen Teil des Geldes an einen Wohltätigenzweck.
                    Wir unterstützen jedes Quartal eine andere Organisation.
                    Entscheide jetzt welches Projekt du unterstützen möchtest: -->
                </p>
                <div class="mehr-dazu-btn"><a href="/charity" class="mehr-dazu">Mehr
                        dazu</a></div>
            </div>
        </div>
    </section>



    <section style="padding-top: 50px">
        <div class="row screens-row">
            <div class="col-lg-3" id="Screens1"><img src="assets/img/meinStuff/Screens1.png" alt="Registrierung_screenshot"></div>
            <div class="col-lg-3" id="Screens3"><img src="assets/img/meinStuff/Screens3.png" alt="Schreibe_screenshot"></div>
            <div class="col-lg-3" id="Screens2"><img src="assets/img/meinStuff/Screens2.2.png" alt="Poste_screenshot"></div>
            <div class="col-lg-3" id="Screens4"><img src="assets/img/meinStuff/Screens4.2.png" alt="Bewerte_screenshot"></div>
        </div>
    </section>

    <!-- download app -->
    <section class="border-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="download-app-inner text-center">
                        <h2 id="download-now">
                            Downloade jetzt die App<br>
                            und erlebe den neuen Weg des Helfens
                        </h2>
                        <h3>Jetzt erhältlch im AppStore und im PlayStore</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="https://www.apple.com/de/ios/app-store/" target="blank"><img
                                        src="assets/img/meinStuff/Download_on_the_App_Store_Badge_US.svg"
                                        alt="Download Apple" class="store-link"></a>
                            </div>
                            <div class="col-lg-6">
                                <a href="https://play.google.com/store/apps?hl=de" target="blank"><img
                                        src="assets/img/meinStuff/google-play-badge(zugeschnitten).png"
                                        alt="Download PlayStore" class="store-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of download app -->

    <!-- Start Contact Form -->
    <section id="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 mitte contact-bild"><img src="assets/img/meinStuff/mail.png" alt="Send-mail"></div>
                        <div class="col-lg-9 col-sm-12 mitte" id="form">
                            <div>
                                <h1 id="contact-heading">Kontaktiere Uns</h1>
                            </div>
                            <div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName"></label>
                                        <input type="text" class="form-control" id="firstName" placeholder="Vorname">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastName"></label>
                                        <input type="text" class="form-control" id="lastName" placeholder="Nachname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputMail"></label>
                                    <input type="email" class="form-control" id="inputMail" placeholder="E-mail">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1"></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                        placeholder="Nachricht"></textarea>
                                </div>
                                <!--<div class="form-group">
                                          <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                              Check me out
                                            </label>
                                          </div>
                                        </div>-->
                                <div id="form-submit">
                                    <button type="submit" class="btn btn-primary">Senden</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- End of Contact Form-->

    <%- include('partials/footer'); -%>