<%- include('partials/header'); -%>

    <!-- home banner area -->
    <div class="banner-area-inner infos-header">
        <div class="banner-inner-area banner-area2">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6" style="height: 100vh; margin: 0 auto;
                    position: relative;">
                    <!-- evtl background-color: rgba(0,0,0,0.5);-->

                    <div class="banner-text-inner">

                        <h1 style="padding: 10px; border-radius: 5px; position: absolute; top: 25%">Alle wichtigen Infos auf einen
                            Blick
                            <!--Get a helping hand<br>Give a helping hand</h1>-->
                        </h1>
                        <div class="urgent-call text-center" style="position: absolute; top: 50%; left: 40%">
                            <a href="registrieren.html" class="btn">Registrieren</a>
                        </div>
                        <!--class="animated bounce infinite"-->
                    </div>
                </div>
            </div>
            <div id='wwd'></div>
        </div>

    </div>
    <!-- End of home banner area -->


    <!-- Start Content Area -->
    <div class="container info-content">
        <div class="row">
            <div class="col-lg-6 info-boxen">
                <div class="center">
                    <img src="assets/img/meinStuff/license.png" alt="Gewerbeschein-icon" class="info-img">
                </div>
                <h2 class="info-headings">Gewerbeschein</h2>
                <p class="info-texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quasi
                    necessitatibus exercitationem pariatur corrupti ipsa official.</p>
                <div>
                    <a href="gewerbeschein.html" class="mehr-dazu">Mehr Dazu</a>
                </div>
            </div>
            <div class="col-lg-6 info-boxen">
                <div class="center">
                    <img src="assets/img/meinStuff/terms.png" alt="Steuern-icon" class="info-img">
                </div>
                <h2 class="info-headings">Steuern</h2>
                <p class="info-texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quasi
                    necessitatibus exercitationem pariatur corrupti ipsa official.</p>
                <div>
                    <a href="gewerbeschein.html" class="mehr-dazu">Mehr Dazu</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 info-boxen">
                <div class="center">
                    <img src="assets/img/meinStuff/policy.png" alt="Krankenversicherung-icon" class="info-img">
                </div>
                <h2 class="info-headings">Krankenversicherung</h2>
                <p class="info-texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quasi
                    necessitatibus exercitationem pariatur corrupti ipsa official.</p>
                <div>
                    <a href="gewerbeschein.html" class="mehr-dazu">Mehr Dazu</a>
                </div>
            </div>
            <div class="col-lg-6 info-boxen">
                <div class="center">
                    <img src="assets/img/meinStuff/note.png" alt="Registrierung-icon" class="info-img">
                </div>
                <h2 class="info-headings">Registrierung</h2>
                <p class="info-texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quasi
                    necessitatibus exercitationem pariatur corrupti ipsa official.</p>
                <div>
                    <a href="gewerbeschein.html" class="mehr-dazu">Mehr Dazu</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content Area -->

    <%- include('partials/footer'); -%>