<%- include('partials/header'); -%>

    <!-- home banner area -->
    <div class="banner-area-inner sucher-header">
        <div class="banner-inner-area banner-area2">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6" style="height: 100vh; margin: 0 auto;
                    position: relative;">
                    <!-- evtl background-color: rgba(0,0,0,0.5);-->

                    <div class="banner-text-inner">

                        <h1 class="helfer-heading">Suche Helfer mit <br> Helping Hands
                            <!--Get a helping hand<br>Give a helping hand</h1>-->
                        </h1>
                        <div class="urgent-call text-center" style="position: absolute; top: 50%; left: 40%">
                            <a href="/registrieren.ejs" class="btn">Registrieren</a>
                        </div>
                        <!--class="animated bounce infinite"-->
                    </div>
                </div>
            </div>
            <div id='wwd'></div>
        </div>

    </div>
    <!-- End of home banner area -->


    <!-- Start Content Area -->
    <section class="content">
        <div class="container">
            <p class="helfer-cta">
                Die Anmedlung ist zu 100% kostenlos. Poste einfach jetzt deine Aufgaben für die du keine Zeit hast und lass dir in kürzester Zeit helfen.

                <!-- Es ist kostenlos, sich anzumelden und schnell, um loszulegen. Es gibt keine
                Zeitvorgaben oder Gebühren, also nehmen Sie 100% von dem, was Sie verdienen, mit nach Hause, wenn Sie
                eine Aufgabe abschließen. -->
            </p>
            <div class="row helfer-row">
                <div class="col-lg-6" style="text-align: center;"><img src="assets/img/meinStuff/Iphone Mockup1_.png"
                        class="helfer-bild" alt=""></div>
                <div class="col-lg-6 helfer-text helfer-text-rechts">
                    <h2>Registriere dich kostenlos</h2>
                    <p>Registriere dich jetzt und gebe noch Heute deine Aufgaben ab für die du keine Zeit hast</p>
                    <div class="urgent-call">
                        <a href="/registrieren.ejs" class="btn" style="background-color: #2ADA8F; border: 0; color: #fff;">Registrieren</a>
                    </div>
                </div>
            </div>
            <div class="row helfer-row">
                <div class="col-lg-6 helfer-text helfer-text-links">
                    <h2>Poste deine Aufgaben</h2>
                    <p>Egal ob Babysitter, Nachhilfe Lehrer oder jemanden der für dich einkaufen geht.</p>
                </div>
                <div class="col-lg-6" style="text-align: center;"><img src="assets/img/meinStuff/Iphone Mockup4_.png"
                        class="helfer-bild" alt=""></div>
            </div>
            <div class="row helfer-row">
                <div class="col-lg-6" style="text-align: center;"><img src="assets/img/meinStuff/Iphone Mockup3.2_.png"
                        class="helfer-bild" alt=""></div>
                <div class="col-lg-6 helfer-text helfer-text-rechts">
                    <h2>Sammel gute Bewertungen</h2>
                    <p>Sammel gute Bewertungen und steigere damit deine Chanchen.</p>
                    <div class="urgent-call">
                        <a href="/registrieren.ejs" class="btn" style="background-color: #2ADA8F; border: 0; color: #fff;">Registrieren</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Content Area -->

    <!-- Start Bilder Section-->
    <section>
        <div class="bilder-section">
            <img src="assets/img/meinStuff/helfer1_.jpg" class="helfer-bilder" id="helfer-bild1" alt="">>
            <img src="assets/img/meinStuff/helfer2_.jpg" class="helfer-bilder" id="helfer-bild2" alt="">
            <img src="assets/img/meinStuff/helfer3_.jpg" class="helfer-bilder" id="helfer-bild3" alt="">
            <img src="assets/img/meinStuff/helfer4_.jpg" class="helfer-bilder" id="helfer-bild4" alt="">
            <img src="assets/img/meinStuff/helfer5_.jpg" class="helfer-bilder" id="helfer-bild5" alt="">
            <img src="assets/img/meinStuff/helfer8_.jpg" class="helfer-bilder" id="helfer-bild6" alt="">
            <img src="assets/img/meinStuff/helfer7_.jpg" class="helfer-bilder" id="helfer-bild7" alt="">
            <img src="assets/img/meinStuff/helfer9.jpg" class="helfer-bilder" id="helfer-bild8" alt="">
        </div>
    </section>
    <!-- Ende Bilder Section-->

    <!-- Start Fragen Area -->
<section class="accordion-section">
    <div class="container helfer-faq">
        <h1 class="faq-heading">Häufige Fragen</h1>
        <ul id="accordion" class="accordion">
            <li>
                <div class="link"><i class="fa fa-globe"></i>Wie kann ich mich registrieren?<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li><a href="/registrieren">Einfach in das Textfeld klicken und das Anmeldeformular ausfüllen.</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Gibt es eine Mindestentlohnung?<i
                        class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Ja diese beträgt 5€ für jede Aufgabe die du posten möchtest.</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Wie hoch muss die Entlohnung sein?<i
                        class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Solange die Entlohnung über der Mindestentlohnung ist, kannst du den Betrag frei wählen.</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Kann ich meine Aufgabe noch bearbeiten?<i
                        class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Ja, bis zu 24 Stunden vor dem Termin kannst du deine Aufgabe noch bearbeiten oder storieren.></a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Wie kann meine Aufgabe stornieren?<i
                        class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Gehe dazu einfach in die App und öffne die Historie. Hier findest du deine noch offenen Aufgabe. Klicke einfach auf das rote Kreuz und bestätige die Stornierung.</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>
    <!-- End Fragen Area -->

    <%- include('partials/footer'); -%>