/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/

/* ================================== Allgemeines ============================== */

p {
  color: #8f95a3;
}

/* =================================== Header =================================== */

/* Header Menu Nav */
.main-header .header-menu > ul > li:hover > a,
.main-header .header-menu > ul > li.active > a {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}

.header-menu > ul > li > a {
  color: #fff;
}

.header-menu > ul > li:hover > a,
.header-menu > ul > li.active > a {
  color: #2ada8f !important;
}

.main-header.sticky {
  display: none;
}

.logo-position {
  position: absolute;
  left: 0;
  padding: 10px 20px;
}

.logo-bild {
  max-width: 25%;
}

.main-header {
  padding: 0;
  background-color: #222222;
}

.menu-button {
  position: absolute;
  right: -4rem;
  padding: 20px 0;
}

.login-menu {
  border-left: 2px solid #fff !important; 
  height: 20px !important; 
  margin-top: 20px !important; 
  padding-left: 30px !important;
}

.index-header {
  background-image: url(../img/meinStuff/groupe_of_people.jpg);
  background-size: 100%; 
  height: 100vh;
}

/* Slogan Text Style */
.banner-text-inner h1 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  transition: font-size 3s;
}

.banner-text-inner h1 {
  font-size: 60px;
  line-height: 65px;
}

.banner-inner-area {
  padding: 0;
}

/* ==================================== Main =================================== */

.banner-inner-area {
  margin-bottom: 60px;
}

#pb-110 {
  padding-bottom: 0;
}

/* ##### Text Bilder Boxen ##### */

.text-boxen-row {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: -5rem;
}

#text-boxen-section {
  margin: -8px 40px 0px;
}

.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 20px solid rgba(32, 150, 100, 1);
  border-right: 30px solid transparent;
  position: absolute;
  top: -60px;
  left: 521px;
}

.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 20px solid rgba(32, 150, 100, 1);
  border-left: 30px solid transparent;
  position: absolute;
  top: -60px;
  right: 521px;
}*/

/* Boxen Bilder centern */
.text-boxen-row .boxen .mitte {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30% !important;
  height: auto;
}

.img-background {
  background-color: rgba(042, 218, 143, 1);

}

.text-boxen-row .boxen h1 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.section-title h2 {
  margin-bottom: 0.5rem;
  text-align: center;
  text-decoration: underline;
}

/* Text Boxen margin bottom */
.boxen {
  flex: 22%;
  display: inline-block;
  margin: 30px auto;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 5px 27px 20px 27px;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.09);
  transition: margin-top 0.3s;
}

#cta-headings1::before {
  content: url(../img/meinStuff/edit2.png);
  padding-right: 10px;
}

#cta-headings2::before {
  content: url(../img/meinStuff/bank2.png);
  padding-right: 10px;
}

#cta-headings3::before {
  content: url(../img/meinStuff/charity4.png);
  padding-right: 15px;
}

.boxen:hover {
  margin-top: 20px;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
}

#text-box-4-img {
  margin-bottom: 40px;
}

.mehr-dazu {
  font-weight: bold;
}

.mehr-dazu:hover {
  text-decoration: underline;
}

hr {
  width: 100px;
  background-color: rgba(42, 218, 143, 1);
  border: 2px solid rgba(42, 218, 143, 1);
}

/* Text Boxen center Text */
.boxen-text {
  text-align: center;
}

#Screens1 {
  background-color:  rgba(042, 218, 143, 1);
}

#Screens2 {
  background-color:  rgba(042, 218, 143, 0.8);
}

#Screens3 {
  background-color:  rgba(042, 218, 143, 0.6);
}

#Screens4 {
  background-color:  rgba(042, 218, 143, 0.4);
}

/* Download Bereich über dem Footer */
.download-app-inner {
  padding: 0 30px;
}

/* h1 Left */
.h1-styles-left {
  left: 21px;
  width: 500px;
  height: 80px;
  font-size: 50px;
  line-height: 55px;
  background-color: rgba(042, 218, 143, 1);
  color: #fff !important;
  padding-top: 10px;
  position: absolute;
  top: -60px;
  border-radius: 0 0 5px 5px;
}

/* h1 Right */
.h1-styles-right {
  right: 21px;
  width: 500px;
  height: 80px;
  font-size: 50px;
  line-height: 55px;
  background-color: rgba(042, 218, 143, 1);
  color: #fff !important;
  padding-top: 10px;
  position: absolute;
  top: -60px;
  border-radius: 0 0 5px 5px;
}

/* P padding-top */
.p-styles {
  padding-top: 10px;
  text-align: center;
  font-size: 0.9rem;
}









/* ###### App Bereich ###### */

#app {
  padding-top: 90px;
}

#app-background-color {
  background-color: #fcfcfc;
}

.app-carousel .single-app-image img {
  border: 2px solid #444444;
  height: 465px;
}


/*
#app-description {
  color: #fff;
  font-size: 22px;
  text-align: center;
}


.app-carousel-inner {
  margin-top: 50px;
  background: 0;
  background-color: rgba(042, 218, 143, 1);
}

.app-carousel .single-app-image img {
  margin: 0 auto;
}

.app-carousel .owl-dots {
  margin-top: 0;
}*/









/* ###### Testemonials ##### */

#features {
  padding-bottom: 0;
}

.bg-2 {
  background: rgba(042, 218, 143, 1);
  background-position: top;
  background-position-y: -30px;
  background-image: url(../img/meinStuff/contact_background.png);
}

.single-author-comment p {
  color: #fff !important;
}

.single-author-comment h4 {
  color: #fff !important;
}

/* Personen Bilder */
.owl-carousel .owl-item img {
  border-radius: 10px;
}

/* ##### Charity ##### */

/* Charity Conainer */
#charity-container {
  width: 100% !important;
  /*background-image: url(../img/meinStuff/charity3.jpg);*/
  background-color: rgba(042, 218, 143, 0.5);
  height: 960px;
}

/* Charity Text-align */
.text-left {
  text-align: left !important;
}

/* Charity Text Farbe */
.white {
  color: #fff !important;
}

/* Charity H2 */
#charity-h2 {
  margin-top: 200px;
  margin-bottom: 20px;
  margin-left: 3rem;
  font-size: 60px;
  font-weight: bold;
}

/* Charity Text */
#charity-text {
  margin-left: 3rem;
  font-size: 20px;
  margin-bottom: 40px;
}

#charity-row {
  background-color: #ffffff;
  height: 520px;
  border-radius: 10px;
  margin: 0 8rem;
  margin-top: 200px;
}

#charity-row .col-lg-8 {
  padding-top: 40px;
  padding-left: 70px;
}

#charity-row .col-lg-8 h3 {
  font-weight: bold;
}

#charity-row .col-lg-4 {
  padding-top: 40px;
  background-color: rgba(042, 218, 143, 1);
  border-radius: 0 10px 10px 0;
}

#charity-row .col-lg-4 h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
  font-weight: bold;
}

#current-project-row {
  margin-top: 60px;
}

#current-project-row img {
  border-radius: 10px;
}

#current-project-row p {
  color: #333333;
}

#current-project-row:nth-child(2) p {
  padding-right: 50px;
}

.form-check {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  width: 300px;
  position: relative;
  display: block;
  padding-left: 3.25rem;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #fff;
  color: #c2c2c2;
  border: 1px solid #dddddd;
  border-radius: 25px;
}

.form-check:hover {
  border-radius: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19);
}

#charity-Input {
  padding: 0.375rem 1rem;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-bottom-color: #c2c2c2;
  border-radius: 19px !important;
}

#charity-Input::placeholder {
  color: #c2c2c2;
}

#charity-Submit {
  height: 40px;
  background-color: #fff;
  color: #333333;
  box-shadow: none;/*0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19);*/
}

/* Hide the browser's default radio button */
.form-check-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgba(042, 218, 143, 1);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 10px;
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

/* ###### Testimonials ###### */

/* Testimonial Section Padding */
#testimonial-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

/* Title Padding Bottom */
.section-title {
  margin: -8px 40px 60px;
}

/* Partner Section Pedding */
#partner-section {
  padding: 80px 0;
}

.store-link {
  width: 300px;
  height: 100px;
}

.border-top {
  padding: 110px 0;
}

/* ###### Contact Form ###### */

/* Form Focus  Color */
.form-control::placeholder {
  color: #dddddd;
}

/* background maße*/
#contact-form {
  margin-bottom: 30px;
  background-color: rgba(042, 218, 143, 1);
  background-position: top;
  background-position-y: -30px;
  background-image: url(../img/meinStuff/contact_background.png);
  /*background-repeat: no-repeat;*/
  width: 100%;
  height: auto;
}

/* contact form border Radius */
#contact-form .container .row {
  border-radius: 10px;
}

/* container padding */
#contact-form .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* row background */
#contact-form .container .row {
  width: 80%;
  height: 500px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

#contact-heading {
  font-size: 45px;
  margin-top: 10px;
}

.contact-bild {
  margin-top: 200px;
}

#form {
  padding-top: auto;
  padding-bottom: auto;
}

/* submit btn */
#form-submit {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* submit btn style */
.btn-primary {
  color: #fff;
  background-color: #222222;
  width: 250px;
  height: 25px;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
}

/* form input style */
.form-control {
  border-radius: 0 !important;
  border-bottom: 1px solid #dddddd !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}

.form-control:focus {
  border-bottom: 1px solid #000000 !important;
  /*background-color: #fdfdfd; */
}

/* =================================== Footer =================================== */

.footerbg {
  background-color: #333333;
}

.widget-header h5 {
  color: #fff;
}

.social-icons li a {
  color: #fff;
}

.links-color li a {
  color: #fff !important;
}

/* Copyright Padding */
.footer-bottom {
  padding: 10px 0 20px;
}

.footer-bottom {
  background-color: #333333;
}

.footer-bottom p {
  color: #fff;
}

.footer .pb-110 {
  padding-bottom: 90px;
}

/* ================================== Media Query =============================== */

@media (min-width: 1200px) {
  #charity-container {
    max-width: 100% !important;
  }
}

@media (max-width: 468px) {
  /* ### Header ### */
  .main-header {
    width: 100vw;
  }

  .main-header .header-menu > ul > li:hover > a, .main-header .header-menu > ul > li.active > a {
    color: rgba(42, 218, 143, 1) !important;
    text-decoration: underline;
  }

  .header-menu>ul {
    background-color: #222222;
  }

  .menu-button {
    padding-right: 40px;
  }

  .menu-row {
    height: 70px;
  }

  .logo-position {
    padding: 5px;
  }

  .login-menu {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 13px !important;
    border-top: 1px solid !important;
    height: 40px !important;
  }

  .logo {
    text-align: left;
  }

  .logo img {
    max-width: 20%;
  }

  .banner-text-inner h1 {
    font-size: 50px;
  }



  /*.menu-wraper {
    position: absolute;
    top: 35%;
    right: 15%;
  }*/

  .fa-bars:before {
    color: #fff;
  }

  .index-header {
    background-image: url(../img/meinStuff/groupe_of_people.jpg);
    background-size: 350%;
    background-position-x: 50%;
  }

  /* ### Body ### */
  .boxen {
    flex: 90%;
    margin: 20px 5%;
  }
  
  .text-boxen-row .boxen h1 {
    font-size: 20px;
  }

  #download-now{
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 15px;
  }

  .download-app-inner h3 {
    margin-bottom: 80px;
  }

  .store-link {
    margin-bottom: 15px;
  }

  /* ### Contact Form ### */

  #contact-form {
    margin-bottom: 0;
  }

  #contact-form .container .row {
    width: 90%;  
    height: 580px;
  }

  .contact-bild {
    display: none;
  }

  #contact-heading {
    text-align: center;
    font-size: 26px;
    padding-top: 10px;
  }

  .btn-primary {
    width: 180px;
    margin-top: 40px;
    height: 40px;
  }


  /* ### Footer ### */

  footer.footer {
    background: #222222;
  }

  .footer-bottom {
    background-color: #222222;
  }  

  /* ##### Charity ##### */
  #charity-container {
    height: 100%;
  }

  #charity-row {
    height: 100%;
  }

  #charity-row .col-lg-8 {
    padding-left: 15px;
  }

  #charity-container > .row > .col-lg-12 {
    width: 200%;
  }

  #charity-row .col-lg-8 h3 {
    text-align: center;
  }

  #charity-row .col-lg-8 {
    border-radius: 10px 10px 0 0;
  }

  #charity-row .col-lg-4 {
    border-radius: 0 0 10px 10px;
  }

  #current-project-row:nth-child(2) p {
    text-align: center;
    padding: 10px;
  }

  #charity-Submit {
    margin-bottom: 40px;
  }

}



@media (max-width: 375px) {
  .index-header {
    background-image: url(../img/meinStuff/groupe_of_people.jpg);
    background-size: 350%;
    background-position-x: 25%;
  }

  .text-boxen-row .boxen h1 {
    font-size: 18px;
  }

  #download-now{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
  }
}