body {
    text-align: center;
}

.center {
    text-align: center;
}

.infos-header {
    background-image: url(../img/meinStuff/infos_header2.jpg); 
    background-size: 100%; 
    height: 100vh;
}

.infos-logo {
    text-align: left;
}


.info-content {
    padding: 110px 0;
}

.info-boxen {
    margin-bottom: 4rem;
    padding: 0 30px;
}

.info-img {
    max-width: 10%;
}


.info-headings {
    font-size: 1.2rem;
    margin: 0;
}

.info-texte {
    font-size: 0.9rem;
    margin-bottom: 5px;
}



/* ##### Häufige Fragen Styling ##### */

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq {
    width: 60%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem 1.5rem 3rem;
}

.faq-heading {
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.accordion-item {
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 0 21px 0 rgba(0,0,0,0.09);
}

.accordion-link {
    font-size: 1.2rem;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link i {
    color: rgba(0,0,0,0.8);
    padding: 0.5rem;
}

.accordion-link .ion-md-remove {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #fdfdfd;
    border-radius: 4px;
}

.answer::before {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 90%;
    background-color: rgba(042, 218, 143, 1);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    text-align: left;
    color: #8f95a3;
    font-size: 1.1rem;
    padding: 2rem;
    margin: 0;
}

.answer a {
    padding-left: 2rem;
    font-size: 1.1rem;
}

.accordion-item:target .answer {
    max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-add {
    display: none;
}

.accordion-item:target .accordion-link .ion-md-remove {
    display: block;
}



/* ### Gewerbeschein ### */

.gewerbeschein-body {
    text-align: left;
}

.gewerbe-header {
    background-image: url(../img/meinStuff/gewerbeschein-header.jpg); 
    background-size: 100%; 
    height: 100vh;
}

.gewerbe-heading {
    padding: 10px; 
    border-radius: 5px; 
    position: absolute; 
    top: 25%
}

.content {
    padding: 70px 0;
}

.content-row h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.content-heading {
    font-weight: 600;
    color: rgba(042, 218, 143, 1);
    font-size: 18px;
    text-decoration: underline;
}

#gewerbeschein-heading {
    font-size: 30px;
    text-decoration: none;
}

.text-div {
    margin: 50px 0 100px;
}

.gewerbeämter li:hover {
    text-decoration: underline;
    color: rgba(042, 218, 143, 1);
    cursor: pointer;
}

.standart-btn {
    background-color: rgba(042, 218, 143, 1);
    width: 250px;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 21px 0 rgba(0,0,0,0.09);
    padding-top: 3px;
}

.standart-btn:hover {
    box-shadow: 0 0 21px 0 rgba(0,0,0,0.2);
}

.antrag {
    text-align: center;
}

.form-row {
    padding: 100px 0;
}

.antrag img {
    max-width: 80%;
    box-shadow: 0 0 21px 0 rgba(0,0,0,0.09);
    margin: 15px 0 40px 0;
    border-radius: 4px;
}

.gewerbeämter {
    list-style-type: disc;
}

.filter {
    filter: grayscale(1);
}

/* ### Mehr Info ### */

.mehr-info {
    padding: 100px 0;
    text-align: center;
}

.mehr-info hr {
    width: 100%;
    color: #8f95a3;
}

.mehr-info-btn {
    width: 400px;
    height: 100px;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(042, 218, 143, 1);
    box-shadow: 0 0 21px 0 rgba(0,0,0,0.09);
    text-align: center;
    margin: 120px auto;
    font-size: 22px;
    font-weight: 700;
    padding-top: 32px;
}

.mehr-info-btn:hover {
    box-shadow: 0 0 21px 0 rgba(0,0,0,0.2);
}

.mehr-info-btn a {
    color: #fff;
}


/* ##### Helfer ##### */

.helfer-header {
    background-image: url(../img/meinStuff/moving-sofa.jpg); 
    background-size: 100%; 
    height: 100vh;
}

.helfer-heading {
    padding: 10px;
    position: absolute; 
    top: 25%; 
    left: 21%;
}

.helfer-cta {
    font-weight: 400;
    color: #222222;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    padding: 80px 0;
}

.helfer-row {
    margin: 100px 0;
}

.helfer-text {
    margin-top: 180px;
}


.helfer-bild {
    max-width: 60%;
    border-radius: 4px;
    /*box-shadow: 0 0 21px 0 rgba(0,0,0,0.09);*/
}

.helfer-text-links {
    padding-right: 100px;
}

.helfer-text-rechts {
    padding-left: 100px;
}


.helfer-faq {
    margin-bottom: 140px;
}


/* ### Bilder Section ### */

.bilder-section {
    padding: 180px 0;
    margin-top: 80px;
    margin-bottom: 120px;
    position: relative;
    width: 100%;
}

.helfer-bilder {
    position: absolute;
    max-width: 400px;
    height: auto;
    border-radius: 4px;
}

#helfer-bild1 {
    left:0;
    top: 0;
    max-width: 500px;
}
#helfer-bild2 {
    left:590px;
    top: 220px;
    max-width: 380px;
    z-index: 2;
}
#helfer-bild3 {
    left:600px;
    top: -80px;
    max-width: 480px;
}
#helfer-bild4 {
    left:900px;
    top: 90px;
}
#helfer-bild5 {
    left:300px;
    top: 80px;
}
#helfer-bild6 {
    left:120px;
    top: 200px;
    max-width: 300px;
}
#helfer-bild7 {
    right:0;
    top: 0;
    z-index: 2;
}

#helfer-bild8 {
    right: 70px;
    top: 260px;
    max-width: 280px;
}





/* ================================== Media Query =============================== */

@media (max-width: 468px) {

    /* ##### Header ##### */
    .helfer-header {
     background-image: url(../img/meinStuff/moving-sofa.jpg); 
     background-size: 450%; 
     height: 100vh;
     background-position-x: 70%;
    }

    .helfer-heading {
        left: 0;
    }

    /* ##### Infos ##### */
    .infos-header {
     background-image: url(../img/meinStuff/infos_header2.jpg); 
     background-size: 350%; 
     background-position-x: 30%;
     height: 100vh;
    }

    .info-boxen {
        padding: 0 40px;
    }


    /* ##### Gewerbeschein ##### */
    .gewerbeschein-body {
        text-align: center;
    }

    .gewerbe-header {
        background-image: url(../img/meinStuff/gewerbeschein-header.jpg); 
        background-size: 350%; 
        background-position-x: 50%;
        height: 100vh;
    }

    .gewerbe-heading {
        font-size: 40px !important;
    }

    .standart-btn {
        margin: 0 auto;
    }

    .mehr-info {
        padding-bottom: 80px;
        padding-top: 0;
    }

    .mehr-info-btn {
        width: 60%;
        height: 60px;
        padding-top: 3.5%;
        margin: 70px auto;
    }

    .mehr-info hr {
        width: 80%;
    }
}